wandb==0.16.3
numpy==1.26.4
einops==0.7.0
torch==2.2.1
torchvision==0.17.1
earthengine-api==0.1.391
rioxarray==0.20.0
rasterio==1.4.3
tqdm==4.66.2
geopandas==1.1.1
fiona==1.10.1
geobench==1.0.0
h5py==3.10.0
scikit-learn==1.4.1.post1
types-requests
# for evals
fast_pytorch_kmeans
satlaspretrain-models
timm
breizhcrops
